.memos_visible_button, .memos_option_button, .memos_close_button
{
	display: block;
	width: 12px;
	height: 12px;
	margin: 1px;
	overflow: hidden;
	line-height: 1000px;
	background-repeat: no-repeat;
	background-image: url(memos_icon.png);
}
.memos_close_button { background-position: -67px -1px; }

/* -------------------------------- */
/*	Right Panel > Memo List
/* -------------------------------- */
.memos_item .memos_close_button { float: right; }

.memos_add_button
{
	font-size: 24px;
	text-align: center;
}

/* -------------------------------- */
/*	Bottom Area
/* -------------------------------- */
.memos_memo
{
	width: 100%;
	height: 100%;
}

.memos_memo input, .memos_memo textarea { display: block; width: 100%; }
.memos_memo input { height: 30px; }
.memos_memo textarea { height: 100%; resize: none; }

.memos_memo .memos_close_button
{
	position: absolute;
	top: 1px;
	right: 2px;
}

.memos_memo .memos_sync_done,
.memos_memo .memos_sync_progress
{
	display: block;
	width: 14px;
	height: 14px;
	margin: 1px;
	overflow: hidden;
	line-height: 1000px;
	background-repeat: no-repeat;
	background-image: url(memos_sync.png);

	position: absolute;
	top: 14px;
	right: 0px;
}

.memos_memo .memos_sync_done
{
	background-position: -1px -1px;
}

.memos_memo .memos_sync_progress
{
	background-position: -17px -1px;
}

